<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Il server ha ricevuto un nuovo articolo</h1>
    <p>
      <%= @article.title %>
    </p>
    <p>
      <%= @article.body %>
    </p>
  </body>
</html>